
- if logged_in?
  = image_tag profile_pic_url current_user.facebook_uid
  = "Hi, #{current_user.name}!"
  
%ul 
  - @grams.each do |gram|
    %li
      = gram.name
      = "(#{gram.phrase})"
      = image_tag gram.image.url :thumb
      - if logged_in?
        = link_to 'Edit', edit_gram_path(gram)
        = link_to 'Send', send_gram_path(gram)
        
- if logged_in?      
  = link_to 'New Gram', new_gram_path
  
- if !logged_in?
  = link_to 'Connect!', oauth_url

