
#send-form
  %h2#phrase= "Is someone being grumpy?"
  %p= "Pick a gram on the left, choose the grumpy gus from your friends below, type a little message, and hit send!  It will all be posted to their Facebook wall to cheer them up!"
  %form{:action => "#{root_path}", :method => "post", :id => "gram_instance_form"}
    = image_tag "no-one.png", :id => "friend-avatar", :width => 50, :height => 50
    #inputs
      %input#friend.initial{ :value => "enter a friend's name" }
      %input#recipient_uid{:type=>"hidden"}
      %input#gram_id{:type=>"hidden"}
      %textarea#message.initial= "add a note if you like!"
      %input{:type=>"submit", :value=> "Send it!"}

    

#image_wrap
  %img{:src => "http://static.flowplayer.org/tools/img/blank.gif", :width => 620, :height => 360 }

%a.prev.browse.left
.scrollable
  .items
    - @grams.in_groups_of(4).each do |grams|
      %div
        - grams.each do |gram|
          - if gram
            = image_tag gram.image.url(:thumb), {:id => gram.url_friendly_name, :"data-phrase" => gram.phrase }
%a.next.browse.right
.clearfix

  
