
%ul 
  - @grams.each do |gram|
    %li
      = gram.name
      = "(#{gram.phrase})"
      = image_tag gram.image.url :thumb
      = link_to 'Send', send_gram_path(gram)
      - if logged_in?
        = link_to 'Edit', edit_gram_path(gram)
        
- if logged_in?      
  = link_to 'New Gram', new_gram_path
  
<fb:login-button></fb:login-button> <script type="text/javascript">  FB.init("fd577fc6f9d8d122717f0fdd6112e234", "/xd_receiver.htm"); </script> 