<h1>New Grumpy Gram</h1>

<% form_for(@gram) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :to_name %><br />
    <%= f.text_field :to_name %>
  </p>
  
  <p>
    <%= f.label :from_name %><br />
    <%= f.text_field :from_name %>
  </p>
  
  <p>
    <%= f.label :to_email %><br />
    <%= f.text_field :to_email %>
  </p>
  
  <p>
    <%= f.label :from_email %><br />
    <%= f.text_field :from_email %>
  </p>
  
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :cols => 20, :rows => 40 %>
  </p>
  
  <p>
    <%= f.label 'Choose your grumpy gram!' %><br />
    <%= f.select(:gram_template_id, GramTemplate.all.collect {|g| [g.name, g.id ]}) %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>