<p>
  <b>Gram:</b>
  <%=h @gram.gram_template.name %>
</p>

<p>
  <b>To:</b>
  <%=h @gram.to_name %> <%=h @gram.to_email %> 
</p>

<p>
  <b>From:</b>
  <%=h @gram.from_name %> <%=h @gram.from_email %>
</p>

<p>
  <b>Message:</b>
  <%=h @gram.message %>
</p>

<%= link_to 'Done!', root_path %>