<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="ROBOTS" content="ALL" />

    <title>GrumpyGrams!</title>

    <%= stylesheet_link_merged :base %>
    <%= stylesheet_link_merged :print, :media => "print" %>
    <!--[if lt IE 8]><%= stylesheet_link_merged :ie %><![endif]-->
    <%= javascript_include_merged :base %>
  </head>
  <body>
    <div id="wrapper">
      <div id="outermost-content" class="container">
        <div id="header">
          <%= link_to "Send a GumpyGram", new_gram_path, :id => "send-a-grumpy-gram" %>
          <h1><%= link_to image_tag("logo.png"), root_path %></h1>
        </div>
        
        <div class="span-9 last">
          <%= display_flash :success, :error, :notice %>
        </div>
        
        <div id="content" class="span-9 last">
          <%= yield(:main_content) || yield %>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        Copyright &copy; GrumpyGrams.com.  Icons by <%= link_to "DryIcons", "http://www.dryicons.com" %>.
      </div>
    </div>
  </body>
</html>
