!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "GrumpyGrams :: "+controller.controller_name.capitalize
    = stylesheet_link_tag :all
    %script{:type => "text/javascript", :src  => "http://connect.facebook.net/en_US/all.js"}
    = javascript_include_tag "jquery-1.4.2.min", "rails", "application"
    = csrf_meta_tag
    
  %body  
    #fb-root
    #top
    #content
      #login
        = image_tag 'powered-by-facebook.png'
        %br
        #login-inner
          = link_to image_tag('fb-login-button.png'), "#", :onclick => "login();"
      #header
        = image_tag "logo.png"
      = yield
