!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title GrumpyGrams :: Cheer up your grumpy friends on Facebook!
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:name => "description", :content => "Post little pictures of some very grumpy individuals on a sad friend's wall to cheer them up!"}
    %meta{:name => "keywords", :content => "grumpygrams, grumpygram, grumpiverse, grumpy, ecard, egram, gram"}
    = stylesheet_link_tag "style", "grumpy"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "http://connect.facebook.net/en_US/all.js", :type => "text/javascript"}
    = javascript_include_tag "rails", "application"
    /[if IE 6]
      = javascript_include_tag "pngfix"
      = stylesheet_link_tag "ie6"
    = csrf_meta_tag
  %body
    #wrap
      #flash{:style => "display:hidden;"}
      #oops{:style => "display:hidden;"}
      #fb-root
      #top
        #login
          = link_to image_tag('fb-login-button.png'), "#", :onclick => "login(); return false;"
        #header
          %h1 GrumpyGrams
        .clear
      #content.home
        #featured-tabber
          .clear
          .top
          #info
            .tabber-post-content
              - if (content = yield(:content)).blank?
                = yield
              - else
                = content
      #wrap-footer
    #footer-wrapper
      #footer
        #bottom
          %p= "© #{Time.now.year} GrumpyGrams. All Rights Reserved."